<div class="col-12 custom-padding bg-back2">
    <div class="card bg-back ps-3" style="padding: 10px;">
      <div class="d-flex justify-content-between align-items-start">
        <h3 class="pt-1 text-25px title mb-0">Manage Bookings</h3>
        <!-- <button 
          class="btn btn-danger" 
          (click)="handleDeleteSelected()" 
          [disabled]="selectedIds.length === 0" 
          style="margin-left: 10px;">
           <fa-icon [icon]="FaTrash"></fa-icon> Use FaTrash icon here 
           delete
        </button> -->
      </div>
    </div>
    
    <table class="table table-striped table-bordered table-hover" style="margin-top: 47px;">
      <thead class="table-header">
        <tr>
          <th>
            <input 
              type="checkbox" 
              [checked]="selectedIds.length === courses.length && courses.length > 0" 
              (change)="handleSelectAll($event)" />
          </th>
          <th>Title</th>
          <th>Image</th>
          <th>Description</th>
          <th>Duration</th>
          <th>Lectures</th>
          <th>Price</th>
          <th style="width: 15%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of pagedCourses">
          <td>
            <input 
              type="checkbox" 
              [checked]="selectedIds.includes(course._id)" 
              (change)="handleSelect(course._id)" />
          </td>
          <td>
            <span *ngIf="!course.isEditing">{{ course.title }}</span>
            <input *ngIf="course.isEditing" [(ngModel)]="course.title" class="form-control" />
          </td>
          <td>
            <!-- For image, we use a file input with the change event -->
            <input 
            *ngIf="course.isEditing" 
            type="file" 
            (change)="onImageChange($event, course)" 
            class="form-control" 
          />
          
          <!-- Display the image preview if course is being edited -->
          <img *ngIf="course.isEditing && course.imagePreview" [src]="course.imagePreview" width="100" />
          
          <!-- Display the existing image when not editing -->
          <img *ngIf="!course.isEditing" [src]="'http://localhost:3000/' + course.image" [alt]="course.title" width="100">
          </td>
          <td>
            <span *ngIf="!course.isEditing">{{ course.description }}</span>
            <textarea *ngIf="course.isEditing" [(ngModel)]="course.description" class="form-control"></textarea>
          </td>
          <td>
            <span *ngIf="!course.isEditing">{{ course.duration }}</span>
            <input *ngIf="course.isEditing" [(ngModel)]="course.duration" class="form-control" />
          </td>
          <td>
            <span *ngIf="!course.isEditing">{{ course.lectures }}</span>
            <input *ngIf="course.isEditing" [(ngModel)]="course.lectures" class="form-control" />
          </td>
          <td>
            <span *ngIf="!course.isEditing">{{ course.price }}</span>
            <input *ngIf="course.isEditing" [(ngModel)]="course.price" class="form-control" />
          </td>
          <td>
            <button *ngIf="!course.isEditing" class="btn btn-primary" (click)="editCourse(course)">Edit</button>
            <button *ngIf="course.isEditing" class="btn btn-success" (click)="saveCourse(course)">Save</button>
            <button *ngIf="course.isEditing" class="btn btn-secondary" (click)="cancelEdit(course)">Cancel</button>
            <button class="btn btn-danger" (click)="handleDelete(course._id)" style="margin-left: 5px;">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
   
    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-3">
      <ngb-pagination
        [collectionSize]="totalCourses"  
        [(page)]="currentPage"           
        [pageSize]="pageSize"           
        (pageChange)="loadPage($event)">  
      </ngb-pagination>
    </div>
  

  <div class="modal fade" id="courseModal" tabindex="-1" aria-labelledby="courseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="courseModalLabel">{{ viewedcourse?.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img  [src]="'http://localhost:3000/' + viewedcourse?.image" alt="Course Image" class="img-fluid">
          <p><strong>Description:</strong> {{ viewedcourse?.description }}</p>
          <p><strong>Duration:</strong> {{ viewedcourse?.duration }}</p>
          <p><strong>Lectures:</strong> {{ viewedcourse?.lectures }}</p>
          <p><strong>Price:</strong> {{ viewedcourse?.price | currency }}</p>
          <p><strong>Created At:</strong> {{ viewedcourse?.createdAt | date:'medium' }}</p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>


  