
.card {
    margin-bottom: 25px;
    margin-left: 1px;
    background-color: #eefbf3 !important;
    padding-top: 13px;
    padding-bottom: 19px;
    border-radius: 11px;
    width: 100%;
}
.title{
    color: #309255 !important;
}
body .modal-backdrop {
    display: none !important;
  }

  img{
    width: 100% !important;
  }