<div class="section section-padding">
    <div class="container">
      <div class="register-login-wrapper">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="register-login-images">
              <div class="shape-1">
                <img src="assets/images/shape-26.png" alt="Shape" />
              </div>
              <div class="images">
                <img src="assets/images/register-login.png" alt="Register Login" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="register-login-form">
              <h3 class="title">Login <span>Now</span></h3>
  
              <div class="form-wrapper">
                <!-- Display error message if login fails -->
                <div *ngIf="errorMessage" class="alert alert-danger">
                  {{ errorMessage }}
                </div>
  
                <!-- Login Form -->
                <form (ngSubmit)="onSubmit()">
                  <div class="single-form">
                    <input
                      type="text"
                      placeholder="Username"
                      [(ngModel)]="user.username"
                      name="username"
                      required
                    />
                  </div>
                  <div class="single-form">
                    <input
                      type="password"
                      placeholder="Password"
                      [(ngModel)]="user.password"
                      name="password"
                      required
                    />
                  </div>
                  <div class="single-form">
                    <button
                      type="submit"
                      class="btn btn-primary btn-hover-dark w-100"
                      [disabled]="!user.username || !user.password"
                    >
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>