<div class="tab-pane fade show active" id="tabs1">
  <div class="courses-wrapper">
    <div class="row">
      <div *ngFor="let course of courses.products" class="col-lg-4 col-md-6">
        <div class="single-courses">
          <div class="courses-images">
            <a [routerLink]="['/course-details', course.id]">
              <img [src]="'http://localhost:3000/' + course.image" [alt]="course.title">
            </a>
          </div>
          <div class="courses-content">
            <h4 class="title">
              <a [routerLink]="['/course-details', course.id]">{{ course.title }}</a>
            </h4>
            <p class="description">{{ course.description }}</p>
            <div class="courses-meta d-flex justify-content-between">
              <span><i class="icofont-clock-time"></i> {{ course.duration }}</span>
              <span><i class="icofont-read-book"></i> {{ course.lectures }} Lectures</span>
            </div>
            <div class="courses-price-review">
              <div class="courses-price">
                <span class="sale-price">{{ course.price | currency }}</span>
              </div>
              <!-- Book Now button triggers the 'onBookNow' method -->
              <button 
                class="btn btn-primary" 
                (click)="onBookNow(course)">
                Book Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











<!-- <div class="tab-pane fade show active" id="tabs1">
  <div class="courses-wrapper">
    <div class="row">
      <div *ngFor="let course of courses.products" class="col-lg-4 col-md-6">
        <div class="single-courses">
          <div class="courses-images">
            
            <a [routerLink]="['/course-details', course.id]" (click)="selectCourse(course.id)">
              <img [src]="course.image" [alt]="course.title">
            </a>
          </div>
          <div class="courses-content">
            <h4 class="title">
              <a [routerLink]="['/course-details', course.id]" (click)="selectCourse(course.id)">{{ course.title }}</a>
            </h4>
            <p class="description">{{ course.description }}</p>
            <div class="courses-meta d-flex justify-content-between">
              <span><i class="icofont-clock-time"></i> {{ course.duration }}</span>
              <span><i class="icofont-read-book"></i> {{ course.lectures }} Lectures</span>
            </div>
            <div class="courses-price-review">
              <div class="courses-price">
                <span class="sale-price">{{ course.price | currency }}</span>
              </div>
              <button 
                class="btn btn-primary" 
                 (click)="selectCourse(course.id)" >
                Book Now
              </button>
              <button 
                class="btn btn-primary" 
                data-bs-toggle="modal" data-bs-target="#orderModal" (click)="selectCourse(course.id)" >
                Book Now
              </button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Place Your Booking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="placeOrder()" #orderForm="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="username"
              required
              [(ngModel)]="order.username"
              name="username"
              #username="ngModel"
            />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone No</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              required
              [(ngModel)]="order.phone"
              name="phone"
              #phone="ngModel"
            />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea
              class="form-control"
              id="address"
              required
              [(ngModel)]="order.address"
              name="address"
              #address="ngModel"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="paymentMethod" class="form-label">Payment Method</label>
            <select [(ngModel)]="order.paymentMethod" class="form-control" name="paymentMethod">
              <option value="cod">Cash on Delivery</option>
              <option value="credit_card">Credit Card</option>
              <option value="paypal">PayPal</option>
            </select>
          </div>
          <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Place Booking</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 -->
