<div class="container p-5 bg-green">
  <div class="row g-5">
    <!-- Total Project Card -->
    <div class="col-lg-4">
      <div class="card bg-back" style="width: 100%">
        <img
          src="assets/images/dash-5.PNG"
          alt="Total Project"
          class="img-fluid"
        />
      </div>
    </div>
    <!-- Program Budget Card -->
    <div class="col-lg-4">
      <div class="card bg-back" style="width: 100%">
        <img
          src="assets/images/dash-6.PNG"
          alt="Total Project"
          class="img-fluid"
        />
      </div>
    </div>
    <!-- Estimate at Completion Card -->
    <div class="col-lg-4">
      <div class="card bg-back" style="width: 100%">
        <img
          src="assets/images/dash-7.PNG"
          alt="Total Project"
          class="img-fluid"
        />
      </div>
    </div>
  </div>

  <!-- Card with Image and Content -->
  <div class="row pt-5">
    <div class="col-lg-6">
      <div class="card bg-back">
        <img
          src="assets/images/dash-1.PNG"
          alt="Total Project"
          class="img-fluid"
          style="width: 470px; height: 400px"
        />
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card bg-back">
        <img
          src="assets/images/dash-2.PNG"
          alt="Total Project"
          class="img-fluid"
          style="width: 470px; height: 400px"
        />
      </div>
    </div>
  </div>

  <!-- Two Card Columns -->
  <div class="row pt-5">
    <div class="col-lg-6">
      <div class="card bg-back">
        <img
          src="assets/images/dash-3.PNG"
          alt="Total Project"
          class="img-fluid"
          style="width: 470px; height: 400px"
        />
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card bg-back">
        <img
          src="assets/images/dash-4.PNG"
          alt="Total Project"
          class="img-fluid"
          style="width: 470px; height: 400px"
        />
      </div>
    </div>
  </div>
</div>
