/* Modal Styles */
jw-modal {
    display: none; /* Hidden by default */
  }
  
  jw-modal.visible {
    display: block; /* Visible when the 'visible' class is applied */
  }
  
  .jw-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    overflow: auto;
  }
  
  .jw-modal-body {
    background: #fff;
    padding: 20px;
  }
  
  body.jw-modal-open {
    overflow: hidden; /* Prevent body scrolling when modal is open */
  }
  