<div class="section slider-section">
    <!-- Slider Shape Start -->
    <div class="slider-shape">
      <img class="shape-1 animation-round" src="assets/images/shape-8.png" alt="Shape">
    </div>
    <!-- Slider Shape End -->
  
    <div class="container">
  
      <!-- Slider Content Start -->
      <div class="slider-content">
        <h4 class="sub-title">Start your favourite course</h4>
        <h2 class="main-title">Now learning from anywhere, and build your <span>bright career.</span></h2>
        <p>It has survived not only five centuries but also the leap into electronic typesetting.</p>
        <a class="btn btn-primary btn-hover-dark" href="#">Start A Course</a>
      </div>
      <!-- Slider Content End -->
  
    </div>
  
    <!-- Slider Courses Box Start -->
    <div class="slider-courses-box">
  
      <img class="shape-1 animation-left" src="assets/images/shape-5.png" alt="Shape">
  
      <div class="box-content">
        <div class="box-wrapper">
          <i class="flaticon-open-book"></i>
          <span class="count">1,235</span>
          <p>courses</p>
        </div>
      </div>
  
      <img class="shape-2" src="assets/images/shape-6.png" alt="Shape">
  
    </div>
    <!-- Slider Courses Box End -->
  
    <!-- Slider Rating Box Start -->
    <div class="slider-rating-box">
  
      <div class="box-rating">
        <div class="box-wrapper">
          <span class="count">4.8 <i class="fa fa-star" aria-hidden="true"></i></span>
          <p>Rating (86K)</p>
        </div>
      </div>
  
      <img class="shape animation-up" src="assets/images/shape-7.png" alt="Shape">
  
    </div>
    <!-- Slider Rating Box End -->
  
    <!-- Slider Images Start -->
    <div class="slider-images">
      <div class="images">
        <img src="assets/images/slider-1.webp" alt="Slider">
      </div>
    </div>
   
  </div>





<div class="tab-pane fade show active" id="tabs1">
  <div class="courses-wrapper">
    <div class="row">
      <div *ngFor="let course of courses.products" class="col-lg-4 col-md-6">
        <div class="single-courses">
          <div class="courses-images">
            <a [routerLink]="['/course-details', course.id]">
              <img [src]="'http://localhost:3000/' + course.image" [alt]="course.title">
            </a>
          </div>
          <div class="courses-content">
            <h4 class="title">
              <a [routerLink]="['/course-details', course.id]">{{ course.title }}</a>
            </h4>
            <p class="description">{{ course.description }}</p>
            <div class="courses-meta d-flex justify-content-between">
              <span><i class="icofont-clock-time"></i> {{ course.duration }}</span>
              <span><i class="icofont-read-book"></i> {{ course.lectures }} Lectures</span>
            </div>
            <div class="courses-price-review">
              <div class="courses-price">
                <span class="sale-price">{{ course.price | currency }}</span>
              </div>
              <!-- Book Now button triggers the 'onBookNow' method -->
              <button 
                class="btn btn-primary" 
                (click)="onBookNow(course)">
                Book Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 